.test{
    background-color: #e9db68;
    color: #fff;
}
.test-img{
    vertical-align: top;
    margin-top: 20px;
}
.bg-img{
    background: url("../img/test.webp") no-repeat;
    background-size: 100% 100%;
    width: 300px;
    height: 120px;
}